name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_LOG: DEBUG
  CI: true

jobs:
  test:
    name: "Test"
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v5
      - uses: r7kamura/rust-problem-matchers@v1.1.0
      - run: cargo --version --verbose
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        if: runner.os == 'Linux'
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false

          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: true
          swap-storage: false

      - uses: Swatinem/rust-cache@v2
        with:
          cache-provider: buildjet
          cache-on-failure: true
          # only save caches for `main` branch
          save-if: ${{ github.ref == 'refs/heads/main' }}
          cache-directories: ${{ env.CARGO_TARGET_DIR }}

      - name: "Check"
        run: cargo check --all --exclude dora-dav1d --exclude dora-rav1e  --exclude dora-qwen-omni
      - name: "Build"
        run: cargo build --all --exclude dora-dav1d --exclude dora-rav1e --exclude dora-qwen-omni
      - name: "Test"
        run: cargo test --all --exclude dora-dav1d --exclude dora-rav1e --exclude dora-qwen-omni

  clippy:
    name: "Clippy"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: r7kamura/rust-problem-matchers@v1.1.0
      - run: cargo --version --verbose

      - name: "Clippy"
        run: cargo clippy --all --exclude dora-dav1d --exclude dora-rav1e --exclude dora-qwen-omni

  rustfmt:
    name: "Formatting"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: r7kamura/rust-problem-matchers@v1.1.0
      - name: "rustfmt"
        run: cargo fmt --all -- --check

  typos:
    name: Typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Typos check with custom config file
        uses: crate-ci/typos@master

  examples:
    name: "Examples"
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      OPERATING_MODE: SAVE
    steps:
      - uses: actions/checkout@v5
      - uses: r7kamura/rust-problem-matchers@v1.1.0
      - run: cargo --version --verbose

      - name: Install system-level dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt-get install portaudio19-dev
          sudo apt-get install libdav1d-dev nasm libudev-dev meson ninja-build
          mkdir -p $HOME/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/x86_64-unknown-linux-gnu/lib
          mkdir -p $HOME/.rustup/toolchains/1.89.0-x86_64-unknown-linux-gnu/lib/rustlib/x86_64-unknown-linux-gnu/lib
          ln -s /lib/x86_64-linux-gnu/libdav1d.so $HOME/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/x86_64-unknown-linux-gnu/lib/libdav1d.so
          ln -s /lib/x86_64-linux-gnu/libdav1d.so $HOME/.rustup/toolchains/1.89.0-x86_64-unknown-linux-gnu/lib/rustlib/x86_64-unknown-linux-gnu/lib/libdav1d.so

          # Install mingw-w64 cross-compilers
          sudo apt install g++-mingw-w64-x86-64 gcc-mingw-w64-x86-64

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          activate-environment: true

      - name: Restore cargo binaries cache
        id: cache-cargo-restore
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
          key: ${{ runner.os }}-cargo-bins

      - name: Install dora
        run: cargo install dora-cli --locked

      - name: Start dora daemon
        run: dora up

      - name: Echo example
        run: |
          dora build examples/echo/dataflow.yml --uv
          dora start examples/echo/dataflow.yml --name echo --detach --uv
          sleep 30
          dora stop --name echo

      - name: Keyboard example
        # IGNORE: DISPLAY variable not set in GitHub Actions
        if: false
        run: |
          dora build examples/keyboard/dataflow.yml --uv
          dora start examples/keyboard/dataflow.yml --name keyboard --detach --uv
          sleep 30
          dora stop --name keyboard

      - name: MCP server example
        run: |
          dora build examples/mcp-server/dataflow.yml --uv
          dora start examples/mcp-server/dataflow.yml --name mcp-server --detach --uv
          sleep 30
          dora stop --name mcp-server

      - name: Object detection dataflow
        run: |
          dora build examples/object-detection/dataflow-object-detection.yml --uv
          dora start examples/object-detection/dataflow-object-detection.yml --name object-detection --detach --uv
          sleep 30
          dora stop --name object-detection

      - name: Object detection yolo
        run: |
          dora build examples/object-detection/yolo.yml --uv
          dora start examples/object-detection/yolo.yml --name yolo --detach --uv
          sleep 30
          dora stop --name yolo

      - name: OpenAI server dataflow
        run: |
          dora build examples/openai-server/dataflow.yml --uv
          dora start examples/openai-server/dataflow.yml --name openai-server --detach --uv
          sleep 30
          dora stop --name openai-server

      - name: OpenAI server dataflow-rust
        run: |
          dora build examples/openai-server/dataflow-rust.yml --uv
          dora start examples/openai-server/dataflow-rust.yml --name openai-server-rust --detach --uv
          sleep 30
          dora stop --name openai-server-rust

      - name: Python multi-env example
        run: |
          dora build examples/python-multi-env/dataflow.yml --uv
          dora start examples/python-multi-env/dataflow.yml --name python-multi-env --detach --uv
          sleep 30
          dora stop --name python-multi-env

      - name: Rerun viewer example
        run: |
          dora build examples/rerun-viewer/dataflow.yml --uv
          dora start examples/rerun-viewer/dataflow.yml --name rerun-viewer --detach --uv
          sleep 30
          dora stop --name rerun-viewer

      - name: Speech to text whisper
        run: |
          dora build examples/speech-to-text/whisper.yml --uv
          dora start examples/speech-to-text/whisper.yml --name whisper --detach --uv
          sleep 30
          dora stop --name whisper

      - name: Translation EN to FR
        run: |
          dora build examples/translation/dataflow_en_fr.yml --uv
          dora start examples/translation/dataflow_en_fr.yml --name translation-en-fr --detach --uv
          sleep 30
          dora stop --name translation-en-fr

      - name: Translation EN to ZH
        run: |
          dora build examples/translation/dataflow_en_zh.yml --uv
          dora start examples/translation/dataflow_en_zh.yml --name translation-en-zh --detach --uv
          sleep 30
          dora stop --name translation-en-zh

      - name: Translation EN to ZH terminal
        run: |
          dora build examples/translation/dataflow_en_zh_terminal.yml --uv
          dora start examples/translation/dataflow_en_zh_terminal.yml --name translation-en-zh-terminal --detach --uv
          sleep 30
          dora stop --name translation-en-zh-terminal

      - name: Translation FR to EN
        run: |
          dora build examples/translation/dataflow_fr_en.yml --uv
          dora start examples/translation/dataflow_fr_en.yml --name translation-fr-en --detach --uv
          sleep 30
          dora stop --name translation-fr-en

      - name: Translation ZH to EN
        run: |
          dora build examples/translation/dataflow_zh_en.yml --uv
          dora start examples/translation/dataflow_zh_en.yml --name translation-zh-en --detach --uv
          sleep 30
          dora stop --name translation-zh-en

      - name: Stop dora daemon
        if: always()
        run: dora destroy

      - name: Save cargo binaries cache
        if: always()
        uses: actions/cache/save@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
          key: ${{ runner.os }}-cargo-bins
