name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_LOG: DEBUG
  CI: true

jobs:
  test:
    name: "Test"
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v5
      - uses: r7kamura/rust-problem-matchers@v1.1.0
      - run: cargo --version --verbose
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        if: runner.os == 'Linux'
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false

          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: true
          swap-storage: false

      - uses: Swatinem/rust-cache@v2
        with:
          cache-provider: buildjet
          cache-on-failure: true
          # only save caches for `main` branch
          save-if: ${{ github.ref == 'refs/heads/main' }}
          cache-directories: ${{ env.CARGO_TARGET_DIR }}

      - name: "Check"
        run: cargo check --all --exclude dora-dav1d --exclude dora-rav1e  --exclude dora-qwen-omni
      - name: "Build"
        run: cargo build --all --exclude dora-dav1d --exclude dora-rav1e --exclude dora-qwen-omni
      - name: "Test"
        run: cargo test --all --exclude dora-dav1d --exclude dora-rav1e --exclude dora-qwen-omni

  clippy:
    name: "Clippy"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: r7kamura/rust-problem-matchers@v1.1.0
      - run: cargo --version --verbose

      - name: "Clippy"
        run: cargo clippy --all --exclude dora-dav1d --exclude dora-rav1e --exclude dora-qwen-omni

  rustfmt:
    name: "Formatting"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: r7kamura/rust-problem-matchers@v1.1.0
      - name: "rustfmt"
        run: cargo fmt --all -- --check

  typos:
    name: Typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Typos check with custom config file
        uses: crate-ci/typos@master

  examples:
    name: "Examples"
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v5
      - uses: r7kamura/rust-problem-matchers@v1.1.0
      - run: cargo --version --verbose

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Cache cargo binaries
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
          key: ${{ runner.os }}-cargo-bins
          restore-keys: |
            ${{ runner.os }}-cargo-bins

      - name: Install dora
        run: cargo install dora-cli --locked

      - name: Start dora daemon
        run: dora up

      - name: Echo example
        run: |
          dora start examples/echo/dataflow.yml --detach --uv
          sleep 30
          dora stop

      - name: Keyboard example
        run: |
          dora start examples/keyboard/dataflow.yml --detach --uv
          sleep 30
          dora stop

      - name: MCP server example
        run: |
          dora start examples/mcp-server/dataflow.yml --detach --uv
          sleep 30
          dora stop

      - name: Object detection dataflow
        run: |
          dora start examples/object-detection/dataflow-object-detection.yml --detach --uv
          sleep 30
          dora stop

      - name: Object detection yolo
        run: |
          dora start examples/object-detection/yolo.yml --detach --uv
          sleep 30
          dora stop

      - name: OpenAI server dataflow
        run: |
          dora start examples/openai-server/dataflow.yml --detach --uv
          sleep 30
          dora stop

      - name: OpenAI server dataflow-rust
        run: |
          dora start examples/openai-server/dataflow-rust.yml --detach --uv
          sleep 30
          dora stop

      - name: Python multi-env example
        run: |
          dora start examples/python-multi-env/dataflow.yml --detach --uv
          sleep 30
          dora stop

      - name: Rerun viewer example
        run: |
          dora start examples/rerun-viewer/dataflow.yml --detach --uv
          sleep 30
          dora stop

      - name: Speech to text whisper
        run: |
          dora start examples/speech-to-text/whisper.yml --detach --uv
          sleep 30
          dora stop

      - name: Translation EN to FR
        run: |
          dora start examples/translation/dataflow_en_fr.yml --detach --uv
          sleep 30
          dora stop

      - name: Translation EN to ZH
        run: |
          dora start examples/translation/dataflow_en_zh.yml --detach --uv
          sleep 30
          dora stop

      - name: Translation EN to ZH terminal
        run: |
          dora start examples/translation/dataflow_en_zh_terminal.yml --detach --uv
          sleep 30
          dora stop

      - name: Translation FR to EN
        run: |
          dora start examples/translation/dataflow_fr_en.yml --detach --uv
          sleep 30
          dora stop

      - name: Translation ZH to EN
        run: |
          dora start examples/translation/dataflow_zh_en.yml --detach --uv
          sleep 30
          dora stop

      - name: Stop dora daemon
        if: always()
        run: dora destroy
